#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for the ELARA.                                        #
#                                                                             #
#-----------------------------------------------------------------------------#

# Name of the telescope
telescope = ELARA

# Name of the configuration
config = testConfig-1

# Latitude of the array centre
latitude_deg = 34.7271043

# Antenna diameter
diameter_m = 3.8735

# Antenna coordinates (offset E, offset N)
0.00, 0.00
-2.73897812,+2.73897812
