#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for ELARA MUNIN Nodes.                                #
#                                                                             #
#-----------------------------------------------------------------------------#


# Name of the telescope
telescope = ELARA

# Name of the configuration
config = MUNIN

# Latitude of the array centre
latitude_deg = 34.7225

# Antenna diameter
diameter_m = 0.991

# Antenna coordinates (offset E, offset N)
-212.5, -10.3
200, 0
0, 200
